.attraction{
    display: inline-block;
    margin: 40px;
    margin-top: 50px;
    border-style: solid;
    border-radius: 20px;
    border-width: 1px;
    width: 20vw;
    height: 30vh;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease;
  }
  .attraction:hover{
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.5);
  }
  
  .attr-image{
    width: 20vw;
    height: 23vh;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .attraction a{
    font-family: 'Cormorant Garamond','Times New Roman', Arial;
    color: black;
    font-size: 1.6em;
    text-decoration: none;
  }
  .attraction a:hover{
    color: #11181d;
    text-decoration: underline;
    text-decoration-thickness: 1px ;
  }
  
  .attraction-details img{
    width: 50vw;
    height: 50vh;
  }
  .attraction-details{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center
  ;}
  .attraction-details p{
    font-family: 'Cormorant Garamond', 'Times New Roman', Arial;
    font-size: 1.4em;
    text-align: justify;
    width: 40vw;
  }